* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: #1F1F1F;
  font-family: 'Rubik', sans-serif;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 960px;
  padding: 1rem;
  margin: 0 auto;
}
.airtable-container {
  margin: 1rem;
}
.text-center {
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-items {
  display: flex;
  align-items: center;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  height: 24px;
  margin-right: 1rem;
}
.universe-container {
  background-image: url('../static/bg.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
}
h1 {
  font-size: 3rem;
  font-weight: 300;
}
.lead {
  opacity: .85;
  font-weight: 100;
  font-size: 1.25rem;
}
.brand {
  position: relative;
  display: inline-block;
}
.alpha {
  font-size: .8rem;
  background-color: #000;
  padding: 2px 6px;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  right: -55px;
  color: #0BBDF6;
}
.mailchimp-input {
  padding: 1rem;
  border-radius: 8px;
  border: 0;
  font-size: 1rem;
  height: 3rem;
}
.mailchimp-button {
  background-color: #0BBDF6;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem;
  border: 0;
  height: 3rem;
}